{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinos</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <h1>Destinos Turísticos del Perú</h1>

    <div class="contenedor">

        <a href="{% url 'agregar_destino' %}" class="btn btn-agregar">
            Agregar Destino
        </a>

        {% for destino in destinos %}

        <div class="card">

            <h2>{{ destino.nombreCiudad }}</h2>

            <img src="{{ destino.imagenCiudad }}">

            <p>{{ destino.descripcionCiudad }}</p>

            <p class="precio">
                Precio: S/. {{ destino.precioTour }}
            </p>

            {% if destino.ofertaTour %}
                <p class="oferta">EN OFERTA</p>
            {% else %}
                <p class="no-oferta">Sin oferta</p>
            {% endif %}

            <a href="{% url 'editar_destino' destino.id %}"
            class="btn btn-editar">
            Editar
            </a>

            <a href="{% url 'eliminar_destino' destino.id %}"
            class="btn btn-eliminar">
            Eliminar
            </a>

        </div>

        {% endfor %}

    </div>

    
</body>
</html>